
.btn-yours{
  background-color: white;
  border-radius: 35px;
  border: solid 1px #3b3b3c;
  transition: all 0.2s ease;
  padding: 8px 30px;
  color: #52406d;
}

.btn-yours:hover{
  background-color: #52406d;
  padding: 8px 31px;
  color: white;
  font-weight: bold;
}

