// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktails{
  padding: 10px;
}

.cocktail_form {
  padding: 0px 200px;
  margin: 0px;
}