
<div class="footer">
<div>
  <ul class="list-inline">
    <li><i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
    </li>
    <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </li>
    <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </li>
    <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </li>
  </ul>
  </div>
  <div>
  <p>We love cocktails @ LeWagon</p>
  </div>
</div>